@{
    ViewData["Title"] = "Home Page";
}
<div class="container mt-4">
    <div class="row">
        @if (User.IsInRole("Admin"))
        {
            <div class="col-md-3 mb-3">
                <a class="btn btn-primary btn-block">View available courses</a>
            </div>
            <div class="col-md-3 mb-3">
                <a class="btn btn-primary btn-block">Enroll in open courses</a>
            </div>
            <div class="col-md-3 mb-3">
                <a class="btn btn-primary btn-block">View previous grades</a>
            </div>
            <div class="col-md-3 mb-3">
                <a class="btn btn-primary btn-block">Upload grades</a>
            </div>
        }
        else if (User.IsInRole("Student"))
        {
            <div class="col-md-4 mb-3">
                <a class="btn btn-primary btn-block" asp-area="" asp-controller="Course" asp-action="ViewCourses">View available courses</a>
            </div>
            <div class="col-md-4 mb-3">
                <a class="btn btn-primary btn-block" asp-area="" asp-controller="Course" asp-action="ViewEnrollCourse">Enroll in open courses</a>
            </div>
            <div class="col-md-4 mb-3">
                <a class="btn btn-primary btn-block" asp-area="" asp-controller="Grade" asp-action="ViewGrades">View previous grades</a>
            </div>
        }
        else if (User.IsInRole("Teacher"))
        {
            <div class="col-md-6 mb-3">
                <a class="btn btn-primary btn-block" asp-area="" asp-controller="Grade" asp-action="ViewAllGrades">View previous grades</a>
            </div>
            <div class="col-md-6 mb-3">
                <a class="btn btn-primary btn-block">Upload grades</a>
            </div>
        }
    </div>
</div>
