@model List<P4___Distributed_Fault_Tolerance.Models.GradeModel>

<h2>Your Grades</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Course ID</th>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var grade in Model)
        {
            <tr>
                <td>@grade.CourseId</td>
                <td>@grade.CourseCode</td>
                <td>@grade.CourseName</td>
                <td>@grade.GradeValue</td>
            </tr>
        }
    </tbody>
</table>